
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.message {
  position: absolute;
  margin:auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  display: block;
}
p {
  color: $color;
  text-shadow: $text-shadow;
  font-size: 150px;
  line-height: 150px;
  display: block;
}